<section class="page_title_container">
  <div class="container">
      <h1 class="page_title_container--subtitle">
        {{ customer.name }}
      </h1>
      <div class="page_title_container--desc">
        <a aria-label="Email Link" href="mailto:{{ customer.email }}">{{ customer.email }}</a>
      </div>
  </div>
</section>
