{% if product.metafields.custom_fields["subscription_page_title"] != blank %}
  <div class="custom-field custom-field__subscription-page-title custom-field__type--text">
    <h3 class="custom-field--title">Subscription Page Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["subscription_page_title"] }}
    </div>
  </div>
{% endif %}