{% if product.metafields.custom_fields["subscription_form_title"] != blank %}
  <div class="custom-field custom-field__subscription-form-title custom-field__type--text">
    <h3 class="custom-field--title">Subscription Form Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["subscription_form_title"] }}
    </div>
  </div>
{% endif %}