{% if product.metafields.custom_fields["variant_subscription_label"] != blank %}
  <div class="custom-field custom-field__variant-subscription-label custom-field__type--text">
    <h3 class="custom-field--title">Variant Subscription Label</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["variant_subscription_label"] }}
    </div>
  </div>
{% endif %}