{% if product.metafields.custom_fields["subscription_reference"] != blank %}
  <div class="custom-field custom-field__subscription-reference custom-field__type--product-reference">
    <h3 class="custom-field--title">Subscription Reference</h3>
    <div class="custom-field--value">  
    {% assign product_ref = all_products[product.metafields.custom_fields["subscription_reference"]] %}
    {{ product_ref.title | link_to: product_ref.url }}
    </div>
  </div>
{% endif %}