{% if article.metafields.custom_fields["location"] != blank %}
  <div class="custom-field custom-field__location custom-field__type--text">
    <h3 class="custom-field--title">Location</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["location"] }}
    </div>
  </div>
{% endif %}