{% assign image = block.settings.image %}
{% assign title = block.settings.title %}
{% assign service = block.settings.service %}
{% assign store_details = block.settings.store_details %}
{% assign button_link = block.settings.button_link %}
{% assign button_label = block.settings.button_label %}

{% if block.settings.flagship %}
  {% assign flagship = location | append: ' Flagship' %}
{% else %}
  {% assign flagship = '' %}
{% endif %}

<div class="location">
  <div class="location--inner-container">
    <div class="location--img-detail-container">
      {% if image != blank %}
        {% include 'responsive-image' with image: image, image_class: "location--img", wrapper_class: "location--img-wrapper", max_width: 480, max_height: 320 %}
      {% endif %}


      <div class="location--upper-title d-flex justify-content-between">
        {% if service != blank %}
          <h4 class="location--service">{{ service }}</h4>
        {% endif %}
        {% if flagship %}
          <span class="location--flagship">{{ flagship }}</span>
        {% endif %}
      </div>

      <div class="location--bottom-title">
        {% if title != blank %}
          <h3 class="location--title">{{ title }}</h3>
        {% endif %}
      </div>

      {% if store_details != blank %}
        <div class="store_details">
          <div class="store_details--container">
            <div class="store_details--details">
              {{ store_details }}
            </div>
          </div>
        </div>
      {% endif %}

    </div>

  </div>
</div>



