

<section class="office_party_form">
    <div class="container">
  
  
    
        <div class="office_party_form--desc desc">
            <p>With teams of over 20+ coffee drinkers, one of our customer service reps would love to chat with you. Fill out this quick form and we’ll get back to you ASAP (usually within 24 hours)</p>
        </div>
     
  
       
  
  
      <form id="office_party_form" class="klaviyo_gdpr_embed_SDfU8H" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
        <input type="hidden" name="g" value="SDfU8H">
        <input type="hidden" name="$fields" value="Zip Code">
        <input type="hidden" name="$list_fields" value="$consent">
        <input type="hidden" name="$consent" value="email">
  
        <div class="form-actual ">
          <div class="input-container">
            <label class="label-hidden" for="k_id_name">Your Name</label>
            <input class="basic-textbox-underline" name="name" placeholder="Full Name" type="text" id="k_id_name" value="" required="">
          </div>
          <div class="row input-container">
            <div class="col-md first">
                <label class="label-hidden" for="k_id_organization">Company</label>
                <input id="k_id_organization" type="text" name="organization" value="" placeholder="Company">
            </div>
            <div class="col-md">
                <label class="label-hidden" for="k_id_zip_code">Office Zip Code</label>
                <input id="k_id_zip_code" type="text" name="Zip Code" value="" placeholder="Office Zip Code">
            </div>
            </div>

          <div class="input-container">
            <label class="label-hidden" for="k_id_email">Email</label>
            <input id="k_id_email" type="email" name="email" value="" placeholder="Email">
          </div>
   
  
          <div class="">
            <button type="submit" name="button" class="">
              SUBMIT
            </button>
          </div>
          <div class="klaviyo_messages">
            <div class="success_message alert alert-success" style="display:none;"></div>
            <div class="error_message alert alert-danger" style="display:none;"></div>
          </div>
  
        </div>
      </form>
      <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
      <script type="text/javascript">
        KlaviyoSubscribe.attachToForms('#office_party_form', {
          hide_form_on_success: true,
          success_message: '{{ success | escape }}',
          extra_fields: ["Zip Code"]
        });
      </script>
  
    </div>
  </section>
  
  
  <script type="text/javascript">
    $(function() {
      $('select').selectric();
    });
  </script>
  
  <style media="screen">
    .selectric .button:before {
      content: url('{{ "arrow-down.svg" | asset_url }}') !important;
      position: absolute;
    top: 40%;
    right: 9px;
    }
  
    .selectric .button:after {
      display: none;
    }
  </style>
  