
<!-- Begin ReCharge code -->
<p id="rc_link_container">
    <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>
<!-- End ReCharge code -->
{% section 'page-account' %}


<!--Loyalty Dev-->
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/WjkEo-Fdv3ozMqmdF7bw5Q" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="135241"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="135242"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="135243"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="135244"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="135245"></div>
<!--End Loyalty Dev-->