<section class="design-awards" style="background-color: {{ section.settings.bg_color }}">
     <div class="container">
         <div class="cols-1-2">
             <div>
                 <div class="design-awards__emblem">
                        {% assign image = section.settings.image %}
                        {% include 'responsive-image' with image: image, image_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 180, max_height: 800 %}
                        <style>
                          .design-awards__emblem .responsive-image__wrapper {
                            max-width: 18rem !important;
                            margin: auto;
                          }
                        </style>
<!--                     <svg xmlns="http://www.w3.org/2000/svg" width="184.888" height="244.268" viewBox="0 0 184.888 244.268">
                        <g id="Group_842" data-name="Group 842" transform="translate(-17.604 -6.205)">
                          <path id="Path_807" data-name="Path 807" d="M200.852,213.1,133.126,22.571C125.431.753,94.579.749,86.876,22.564L19.24,213.11a28,28,0,0,0,26.384,37.363H174.47A28,28,0,0,0,200.852,213.1Z" transform="translate(0 0)" fill="#2d363c"/>
                          <g id="Group_831" data-name="Group 831" transform="translate(90.145 66.84)">
                            <path id="Path_808" data-name="Path 808" d="M81.891,77.033l-7.28-20.588a.149.149,0,0,0-.289.038A24.212,24.212,0,0,1,70.394,67.7a.159.159,0,0,0-.017.135l3.287,9.3a.151.151,0,0,0,.142.1h7.942a.149.149,0,0,0,.123-.064.144.144,0,0,0,.019-.135" transform="translate(-18.118 1.605)" fill="#fff"/>
                            <path id="Path_809" data-name="Path 809" d="M68.731,56.465a5.983,5.983,0,0,1,5.622,3.98.146.146,0,0,0,.189.09L80.019,58.6a.153.153,0,0,0,.085-.078.145.145,0,0,0,0-.114,12.071,12.071,0,1,0,0,8.055.152.152,0,0,0,0-.116.177.177,0,0,0-.085-.076l-5.477-1.937a.147.147,0,0,0-.189.092,5.967,5.967,0,1,1-5.622-7.961" transform="translate(-36.836 -6.565)" fill="#fff"/>
                            <path id="Path_810" data-name="Path 810" d="M57.774,48.157a.159.159,0,0,0,.095-.033c.237-.194.471-.381.712-.556a15.041,15.041,0,0,1,8.351-2.833.145.145,0,0,0,.135-.1l4.453-12.591a.151.151,0,0,0-.142-.2H63.436a.148.148,0,0,0-.14.1L57.632,47.958a.15.15,0,0,0,.142.2" transform="translate(-35.517 -31.843)" fill="#fff"/>
                            <path id="Path_811" data-name="Path 811" d="M57.677,63.777a24.268,24.268,0,0,1-1.819-7.3.151.151,0,0,0-.13-.137.149.149,0,0,0-.158.1l-7.284,20.6a.144.144,0,0,0,.019.135.149.149,0,0,0,.123.064h7.942a.151.151,0,0,0,.142-.1l3.29-9.3a.153.153,0,0,0-.017-.132,24.46,24.46,0,0,1-2.107-3.928" transform="translate(-48.276 1.595)" fill="#fff"/>
                            <path id="Path_812" data-name="Path 812" d="M97.2,79.154c0-.65-.028-1.305-.083-1.949s-.14-1.277-.248-1.9-.244-1.244-.4-1.852c-.142-.549-.317-1.116-.516-1.689l-.073-.208A22.49,22.49,0,0,0,83.2,58.344c-.5-.206-1-.388-1.473-.544a22.477,22.477,0,0,0-7-1.112,5.394,5.394,0,0,1-5.392-5.395,5.463,5.463,0,0,1,.078-.925,5.327,5.327,0,0,1,.229-.873,5.394,5.394,0,0,1,10.163-.019l.014.038a.152.152,0,0,0,.184.076l7.06-2.5a.149.149,0,0,0,.09-.095.144.144,0,0,0,0-.1,13.158,13.158,0,0,0-11.113-8.706,11.579,11.579,0,0,0-2.623,0,13.175,13.175,0,0,0-8.008,22.428l.057.052a13.094,13.094,0,0,0,9.266,3.808A14.687,14.687,0,0,1,88.546,74.2l.021.057.035.1c.128.367.237.724.326,1.062.1.4.192.806.263,1.211s.125.83.161,1.244.057.847.057,1.275a14.68,14.68,0,1,1-29.36,0c0-.428.019-.856.057-1.277s.09-.837.161-1.242.158-.811.263-1.209.225-.785.359-1.168a.149.149,0,0,0-.09-.192l-7.06-2.5a.151.151,0,0,0-.192.092c-.208.584-.393,1.185-.551,1.79s-.3,1.23-.4,1.852-.192,1.268-.246,1.9-.085,1.3-.085,1.949A22.326,22.326,0,0,0,54.031,87.9,23.172,23.172,0,0,0,55.053,90,22.47,22.47,0,0,0,94.4,90.01a22.744,22.744,0,0,0,1.029-2.11A22.315,22.315,0,0,0,97.2,79.154" transform="translate(-42.836 -23.285)" fill="#fff"/>
                          </g>
                          <g id="Group_833" data-name="Group 833" transform="translate(80.412 159.003)">
                            <g id="Group_832" data-name="Group 832">
                              <path id="Path_813" data-name="Path 813" d="M57.649,74.156l-2.907,1.667a3.718,3.718,0,0,0-3.306-1.838,4.035,4.035,0,0,0,.012,8.06A3.905,3.905,0,0,0,54.8,80.22l2.717,1.925a7.032,7.032,0,0,1-6.043,3.075,7.2,7.2,0,1,1,0-14.408A6.92,6.92,0,0,1,57.649,74.156Z" transform="translate(-44.161 -70.812)" fill="#fff"/>
                              <path id="Path_814" data-name="Path 814" d="M65.059,78.016a7.015,7.015,0,0,1-7.322,7.2,7.2,7.2,0,1,1,0-14.408A7.015,7.015,0,0,1,65.059,78.016Zm-11.194,0a3.874,3.874,0,1,0,3.872-4.03A3.786,3.786,0,0,0,53.865,78.016Z" transform="translate(-35.628 -70.812)" fill="#fff"/>
                              <path id="Path_815" data-name="Path 815" d="M67.616,79.5H60.909v5.312H57.593V70.921h10.5v2.987H60.909v2.6h6.707Z" transform="translate(-25.826 -70.663)" fill="#fff"/>
                              <path id="Path_816" data-name="Path 816" d="M73.074,79.5h-6.71v5.312H63.051V70.921h10.5v2.987H66.364v2.6h6.71Z" transform="translate(-18.375 -70.663)" fill="#fff"/>
                              <path id="Path_817" data-name="Path 817" d="M79.148,84.816H68.508V70.921h10.6v2.987H71.824v2.4H78.68v2.978H71.824v2.54h7.325Z" transform="translate(-10.926 -70.663)" fill="#fff"/>
                              <path id="Path_818" data-name="Path 818" d="M84.767,84.816H74.129V70.921h10.6v2.987H77.445v2.4H84.3v2.978H77.445v2.54h7.322Z" transform="translate(-3.254 -70.663)" fill="#fff"/>
                            </g>
                          </g>
                          <g id="Group_835" data-name="Group 835" transform="translate(91.405 179.115)">
                            <g id="Group_834" data-name="Group 834">
                              <path id="Path_819" data-name="Path 819" d="M54.755,79.425c4.347,0,7.213,2.758,7.213,6.946s-2.866,6.946-7.213,6.946H48.809V79.425Zm-2.63,3.065v7.762h2.559a3.881,3.881,0,0,0,0-7.762Z" transform="translate(-48.809 -79.167)" fill="#fff"/>
                              <path id="Path_820" data-name="Path 820" d="M66,93.317H55.362V79.425h10.6v2.987H58.678v2.4h6.856V87.79H58.678v2.54H66Z" transform="translate(-39.864 -79.167)" fill="#fff"/>
                              <path id="Path_821" data-name="Path 821" d="M71.01,83.506a7.752,7.752,0,0,0-3.978-1.171c-1.261,0-2.185.428-2.185,1.251,0,.873,1.322,1.083,2.859,1.35l.575.1c2.7.466,4.4,1.726,4.4,4,0,3.3-2.848,4.683-5.825,4.683a10.394,10.394,0,0,1-6.114-1.764l1.658-2.7a7.782,7.782,0,0,0,4.486,1.459c1.249,0,2.2-.426,2.2-1.291,0-.833-.932-1.071-2.748-1.348l-.7-.109c-2.859-.447-4.406-1.738-4.356-4.238.05-2.7,2.353-4.406,5.6-4.406a10.656,10.656,0,0,1,5.605,1.469Z" transform="translate(-32.524 -79.311)" fill="#fff"/>
                              <path id="Path_822" data-name="Path 822" d="M70.121,93.317H66.8V79.425h3.316Z" transform="translate(-24.244 -79.167)" fill="#fff"/>
                              <path id="Path_823" data-name="Path 823" d="M81.761,81.331,79.4,83.653a3.909,3.909,0,0,0-2.968-1.223,4.142,4.142,0,0,0,.009,8.259c1.977,0,3.127-.875,3.514-2.512H76.57V85.616H83.24a7.64,7.64,0,0,1,.069,1.043,6.666,6.666,0,0,1-6.747,7.055,7.2,7.2,0,1,1,5.2-12.383Z" transform="translate(-20.98 -79.316)" fill="#fff"/>
                              <path id="Path_824" data-name="Path 824" d="M88.984,93.317H85.8l-6.331-8.474v8.474H76.151V79.425h3.176L85.658,87.9V79.425h3.325Z" transform="translate(-11.486 -79.167)" fill="#fff"/>
                            </g>
                          </g>
                          <g id="Group_837" data-name="Group 837" transform="translate(68.949 200.046)">
                            <g id="Group_836" data-name="Group 836">
                              <path id="Path_825" data-name="Path 825" d="M53.932,102.166H50.4l-1.052-2.918H43.829l-1.052,2.918H39.314l5.328-13.895H48.6ZM44.9,96.251h3.375l-1.686-4.685Z" transform="translate(-39.314 -88.023)" fill="#fff"/>
                              <path id="Path_826" data-name="Path 826" d="M62.439,102.166h-3.95L55.869,93.2l-2.62,8.961H49.3L45.25,88.271h3.425l2.649,9.954L54.1,88.271h3.583l2.779,9.973,2.649-9.973h3.375Z" transform="translate(-31.211 -88.023)" fill="#fff"/>
                              <path id="Path_827" data-name="Path 827" d="M68.6,102.166H65.068l-1.052-2.918H58.5l-1.05,2.918H53.983l5.331-13.895h3.959Zm-9.03-5.915h3.373l-1.686-4.685Z" transform="translate(-19.29 -88.023)" fill="#fff"/>
                              <path id="Path_828" data-name="Path 828" d="M66.958,88.271c3.434,0,5.26,1.708,5.26,4.446,0,2.2-1.388,3.751-3.879,4.148l3.987,5.3h-3.95l-3.661-5.2h-.487v5.2H60.913V88.271Zm-2.729,3.008v2.9h2.689c1.192,0,1.925-.468,1.925-1.459s-.752-1.438-1.925-1.438Z" transform="translate(-9.831 -88.023)" fill="#fff"/>
                              <path id="Path_829" data-name="Path 829" d="M72.675,88.271c4.347,0,7.216,2.76,7.216,6.946s-2.869,6.948-7.216,6.948H66.732V88.271Zm-2.628,3.065V99.1h2.559a3.534,3.534,0,0,0,3.82-3.881c0-2.273-1.239-3.881-3.82-3.881Z" transform="translate(-1.887 -88.023)" fill="#fff"/>
                              <path id="Path_830" data-name="Path 830" d="M83.253,92.354a7.738,7.738,0,0,0-3.98-1.171c-1.261,0-2.183.426-2.183,1.249,0,.873,1.32,1.083,2.859,1.35l.575.1c2.7.466,4.4,1.726,4.4,4,0,3.3-2.848,4.683-5.825,4.683a10.367,10.367,0,0,1-6.114-1.764l1.656-2.7a7.794,7.794,0,0,0,4.486,1.462c1.251,0,2.2-.428,2.2-1.291,0-.835-.932-1.074-2.751-1.35l-.693-.109c-2.859-.447-4.406-1.736-4.356-4.238.05-2.7,2.351-4.406,5.6-4.406a10.669,10.669,0,0,1,5.607,1.469Z" transform="translate(6.644 -88.166)" fill="#fff"/>
                            </g>
                          </g>
                          <g id="Group_838" data-name="Group 838" transform="translate(61.579 217.549)">
                            <path id="Path_831" data-name="Path 831" d="M43.033,104.908a3.417,3.417,0,1,1-3.417-3.417,3.415,3.415,0,0,1,3.417,3.417" transform="translate(-36.198 -87.481)" fill="#fff"/>
                            <path id="Path_832" data-name="Path 832" d="M56.441,101.041a1.679,1.679,0,1,1-1.682-1.679,1.678,1.678,0,0,1,1.682,1.679" transform="translate(-13.149 -90.387)" fill="#fff"/>
                            <path id="Path_833" data-name="Path 833" d="M91.5,99.439a3.87,3.87,0,1,1-3.872-3.872A3.87,3.87,0,0,1,91.5,99.439" transform="translate(28.73 -95.567)" fill="#fff"/>
                          </g>
                          <g id="Group_840" data-name="Group 840" transform="translate(36.931 66.282)">
                            <g id="Group_839" data-name="Group 839">
                              <path id="Path_834" data-name="Path 834" d="M39.99,88.118l-.856,2.445-8.268,2.545,6.563,2.313-.889,2.542L25.776,94.175l.856-2.436L34.9,89.192l-6.565-2.313.894-2.549Z" transform="translate(-25.776 40.36)" fill="#fff"/>
                              <path id="Path_835" data-name="Path 835" d="M34.756,81.618a5.657,5.657,0,0,1,.731.31l-1.776,5.064a1.575,1.575,0,0,0,1.767-1.173,2.624,2.624,0,0,0-.088-1.861l1.982-1.031a4.786,4.786,0,0,1,.085,3.725,3.944,3.944,0,0,1-5.31,2.552,3.972,3.972,0,0,1-2.675-5.243A3.9,3.9,0,0,1,34.756,81.618ZM32.19,86.447l.953-2.717a1.459,1.459,0,0,0-.953,2.717Z" transform="translate(-21.081 36.26)" fill="#fff"/>
                              <path id="Path_836" data-name="Path 836" d="M38.152,80.654l-4.3-3.148L34.73,75l6.636,5.229-.932,2.658-5.021-.137,4.009,3.03-.927,2.642-8.448-.073.892-2.535,5.291.248-4.259-3.2.837-2.384Z" transform="translate(-19.946 27.625)" fill="#fff"/>
                              <path id="Path_837" data-name="Path 837" d="M39.856,68.842A5.955,5.955,0,0,1,35.913,80.08a5.955,5.955,0,0,1,3.943-11.239Zm-3.013,8.59a3.152,3.152,0,1,0-2.079-4.07A3.1,3.1,0,0,0,36.843,77.432Z" transform="translate(-17.383 18.71)" fill="#fff"/>
                              <path id="Path_838" data-name="Path 838" d="M36.331,65.383l2.32,1.067a4.156,4.156,0,0,0-.62,1.126,1.289,1.289,0,0,0,.882,1.84l4.075,1.433-.837,2.384-7.54-2.654.8-2.285.868.305a2.34,2.34,0,0,1-.362-2.419A3.241,3.241,0,0,1,36.331,65.383Z" transform="translate(-13.715 14.499)" fill="#fff"/>
                              <path id="Path_839" data-name="Path 839" d="M45.987,67.19l-.835,2.384-11.071-3.9.837-2.384Z" transform="translate(-14.439 11.648)" fill="#fff"/>
                              <path id="Path_840" data-name="Path 840" d="M42.078,60.668a5.608,5.608,0,0,1,.728.31l-1.776,5.064A1.575,1.575,0,0,0,42.8,64.869,2.625,2.625,0,0,0,42.71,63l1.984-1.026a4.8,4.8,0,0,1,.083,3.725,3.942,3.942,0,0,1-5.307,2.552,3.974,3.974,0,0,1-2.677-5.246A3.9,3.9,0,0,1,42.078,60.668ZM39.512,65.5l.953-2.717a1.459,1.459,0,0,0-.953,2.717Z" transform="translate(-11.089 7.662)" fill="#fff"/>
                              <path id="Path_841" data-name="Path 841" d="M47.307,58.738,46.5,61.046l-.814-.289a2.716,2.716,0,0,1,.26,2.5c-.7,2-2.968,2.855-5.2,2.069C38.533,64.554,37.3,62.458,38,60.457a2.706,2.706,0,0,1,1.774-1.781l-.816-.286.809-2.308Zm-5.693,4.146a1.7,1.7,0,1,0-1.173-2.2A1.695,1.695,0,0,0,41.615,62.884Z" transform="translate(-9.358 1.802)" fill="#fff"/>
                              <path id="Path_842" data-name="Path 842" d="M44.019,52.735l4.95,1.743-.837,2.384-4.1-1.443c-.892-.315-1.544-.047-1.8.691-.232.66.028,1.369,1.005,1.715l4.058,1.426-.837,2.384-7.54-2.654.8-2.285.946.333a2.538,2.538,0,0,1-.374-2.632A2.746,2.746,0,0,1,44.019,52.735Z" transform="translate(-7.837 -3.052)" fill="#fff"/>
                              <path id="Path_843" data-name="Path 843" d="M44.231,50.144A7.4,7.4,0,0,0,42.786,52.4c-.22.627-.121.934.156,1.034.322.114.565-.333.937-1.024l.277-.518c.806-1.511,1.88-2.086,3.148-1.637,1.653.582,2.2,2.209,1.431,4.385a6.951,6.951,0,0,1-2,3.172l-1.568-1.485A5.286,5.286,0,0,0,46.8,53.938c.258-.738.2-1.1-.128-1.216-.291-.1-.525.192-.953.991l-.213.412c-.9,1.7-1.946,2.275-3.3,1.8-1.606-.565-2.1-2.084-1.388-4.115a8.236,8.236,0,0,1,1.771-2.987Z" transform="translate(-5.681 -8.111)" fill="#fff"/>
                              <path id="Path_844" data-name="Path 844" d="M41.776,50.591a5.12,5.12,0,0,1-.525-4.557,3.577,3.577,0,0,1,4.773-2.479,4.484,4.484,0,0,1,2.651,2.732l1.275,2.623,1.322-3.77,2.313.814-2.552,7.28-1.954-.686-2.356-4.981a2.4,2.4,0,0,0-1.346-1.355,1.388,1.388,0,0,0-1.835.92,3.08,3.08,0,0,0,.438,2.594Z" transform="translate(-5.08 -15.628)" fill="#fff"/>
                              <path id="Path_845" data-name="Path 845" d="M49.975,39.211c3.481,1.227,4.844,4.039,3.924,6.66s-3.734,3.957-7.216,2.729-4.846-4.042-3.928-6.653S46.485,37.983,49.975,39.211Zm-2.393,6.823c2.091.736,3.517.194,3.935-1s-.352-2.519-2.443-3.254-3.514-.194-3.938,1.01S45.491,45.3,47.582,46.034Z" transform="translate(-2.98 -21.854)" fill="#fff"/>
                              <path id="Path_846" data-name="Path 846" d="M44.764,42.04a5.119,5.119,0,0,1-.525-4.557A3.577,3.577,0,0,1,49.011,35a4.482,4.482,0,0,1,2.651,2.734l1.275,2.62,1.322-3.77,2.313.814-2.552,7.28L52.067,44l-2.356-4.978a2.4,2.4,0,0,0-1.346-1.358,1.388,1.388,0,0,0-1.835.92,3.08,3.08,0,0,0,.438,2.594Z" transform="translate(-1.001 -27.301)" fill="#fff"/>
                              <path id="Path_847" data-name="Path 847" d="M56.5,35.455l-.866,2.467-7.492-2.639.078,2.706-2.453-.861-.2-5.52Z" transform="translate(1.249 -31.607)" fill="#fff"/>
                            </g>
                          </g>
                          <rect id="Rectangle_768" data-name="Rectangle 768" width="162.962" height="1.183" transform="translate(52.312 216.122) rotate(-70.504)" fill="#fff"/>
                          <g id="Group_841" data-name="Group 841" transform="translate(98.791 25.843)">
                            <path id="Path_848" data-name="Path 848" d="M58.37,16.326a3.418,3.418,0,1,1-4.619-1.419,3.416,3.416,0,0,1,4.619,1.419" transform="translate(-51.932 -14.508)" fill="#fff"/>
                            <path id="Path_849" data-name="Path 849" d="M63.915,19.721a2.439,2.439,0,1,1-3.3-1.012,2.441,2.441,0,0,1,3.3,1.012" transform="translate(-41.847 -9.164)" fill="#fff"/>
                          </g>
                          <path id="Path_850" data-name="Path 850" d="M55.106,24.933a2.013,2.013,0,1,1-2.013-2.013,2.014,2.014,0,0,1,2.013,2.013" transform="translate(45.697 22.816)" fill="#fff"/>
                        </g>
                      </svg> -->
                      
                 </div>
             </div>
             <div>
                 <div class="design-awards__txt-container" style="    padding-top: 2rem;"> 
                    {% if section.settings.title != blank %}
                        <h2 class="design-awards__title">{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.desc != blank %}
                        <div class="design-awards__desc">{{ section.settings.desc }}</div>
                    {% endif %}
                 </div>
                 
             </div>
         </div>
     </div>
 </section>


{% schema %}
{
  "name": "Design Award",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#E2D9BE"
      }
  ],
  "presets": [
    {
      "name": "Design Award",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}